{% extends "master.html" %}

{% block title %} Register {% endblock %} 
{% block header %}{% endblock %} 

{% block content %}

<style>
    body {
        display: flex !important;
    }

    html,
    body {
        height: 100%;
    }

    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-messages li.error {
        color: red;
    }
</style>


<main class="form-signin w-100 m-auto">

    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="alert alert-success fade show" role="alert">
        Registration Succesful
    </div>

    <a href="/login">Sign in</a>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
</main>

{% endblock %}